<!DOCTYPE html>

<html>
    <head>
        <title>DigiFrame</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Link Tab Icon -->
    <link rel="shortcut icon" type="image/icon" href="/static/images/icon.png"/>

    <body>

        <div id="main-container">
            <canvas id="myCanvas" style="z-index: 1;">
                Your browser does not suppport the canvas element
            </canvas>
        

            <div class="feature">
                <form>
                    <label for="messageInput">Message (Optional)</label>
                    <input type="text" id="messageInput" name="messageInput">

                    </br>
                    <label for="imageUpload">Upload an image (JPEG or PNG):</label>
                    </br>
                    <input type="file" id="fileSelector" name="fileSelector" accept=".jpeg, .jpg, .png" aria-label="Close menu">

                    <button type="button" id="buttonSubmit" name="buttonSubmit" class="button-send"></button>
                </form>
            </div>

            <div class="feature">
                <div class="status">
                    <label id="labelDownloadStatus">Download Status: </label> 
                    <div id="colorboxDownloadStatus" class="color-box" style="background-color: blue"></div>
                </div>

                <div class="status">
                    <label id="labelMessageStatus">Message Status: </label> 
                    <div id="colorboxMessageStatus" class="color-box" style="background-color: blue"></div>
                </div>

                <div class="status">
                    <label id="labelConnectionStatus">Connection Status: </label> 
                    <div id="colorboxConnectionStatus" class="color-box" style="background-color: blue"></div>
                </div>
            </div>

        </div>
    </body>

    <script src="/static/js/lib/helpers/CanvasAPI.js"></script>
    <script src="/static/js/lib/helpers/Utility.js"></script>
    <script src="/static/js/lib/helpers/Shapes.js"></script>

    <script src="/static/js/lib/math/Point.js"></script>
    
    <script src="/static/js/lib/Mouse.js"></script>

    <script src="/static/js/managers/FileManager.js"></script>
    <script src="/static/js/managers/PreviewManager.js"></script>
    <script src="/static/js/managers/CanvasManager.js"></script>
    <script src="/static/js/managers/ConnectionManager.js"></script>
    

    <script src="/static/js/script.js"></script>

</html>
