<!DOCTYPE html>

<html>
    <head>
        <!-- <title>My Web Page</title> -->
    </head>

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="shortcut icon" type="image/icon" href="/static/images/icon.png"/>

    <body>

        <div id="canvas-container">
            <canvas id="myCanvas">
                Your browser does not suppport the canvas element
            </canvas>
        </div>

        <div class="feature">
            <form>
                <label for="messageInput">Message (Optional)</label>
                <input type="text" id="messageInput" name="messageInput">

                </br>
                <label for="imageUpload">Upload an image (JPEG or PNG):</label>
                </br>
                <input type="file" id="fileSelector" name="fileSelector" accept=".jpeg, .jpg, .png">

                <button type="button" id="buttonSubmit" name="buttonSubmit" class="button-send"></button>
            </form>
        </div>

        <div class="feature">
            <div class="status">
                <label id="labelDownloadStatus">Download Status: </label> 
                <div id="colorboxDownloadStatus" class="color-box" style="background-color: blue"></div>
            </div>

            <div class="status">
                <label id="labelMessageStatus">Message Status: </label> 
                <div id="colorboxMessageStatus" class="color-box" style="background-color: blue"></div>
            </div>

            <div class="status">
                <label id="labelConnectionStatus">Connection Status: </label> 
                <div id="colorboxConnectionStatus" class="color-box" style="background-color: blue"></div>
            </div>
        </div>

        </br>

        <div class="image-container">
            <label id="labelImage">No Image Selected!</label> 
            </br>
            <img class="main-image" id="image" src="/static/images/empty_image.png">
        </div>
    </body>

    <script src="/static/js/script.js"></script>
</html>
