<!DOCTYPE html>

<html>
    <head>
        <title>DigiFrame</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Link Tab Icon -->
    <link rel="shortcut icon" type="image/icon" href="/static/images/icon.png"/>

    <body>

        <div id="main-container">

            <canvas id="myCanvas" style="z-index: 1;">
                Your browser does not suppport the canvas element
            </canvas>

            <canvas id="imageProcessingCanvas" style="z-index: 2;">
                Your browser does not suppport the canvas element
            </canvas>
        
            <form>
                <label for="messageInput">Message (Optional)</label>
                <input type="text" id="messageInput" name="messageInput">

                <input type="file" id="fileSelector" name="fileSelector" accept=".jpeg, .jpg, .png" aria-label="Close menu">

                <button type="button" id="buttonSubmit" name="buttonSubmit" class="button-send"></button>

                <!-- <button type="button" id="bruh" name="bruh" class="button-send"></button> -->
            </form>

        </div>
    </body>

    <script src="/static/js/lib/helpers/CanvasAPI.js"></script>
    <script src="/static/js/lib/helpers/Utility.js"></script>
    <script src="/static/js/lib/helpers/Shapes.js"></script>

    <script src="/static/js/lib/math/Point.js"></script>

    <script src="/static/js/lib/units/Drawable.js"></script>
    <script src="/static/js/lib/units/Button.js"></script>
    <script src="/static/js/lib/units/DynamicButton.js"></script>

    <script src="/static/js/lib/Mouse.js"></script>
    <script src="/static/js/lib/Keyboard.js"></script>

    <script src="/static/js/managers/FileManager.js"></script>
    <script src="/static/js/managers/PreviewManager.js"></script>
    <script src="/static/js/managers/CanvasManager.js"></script>
    <script src="/static/js/managers/ConnectionManager.js"></script>
    <script src="/static/js/managers/ImageProcessor.js"></script>

    <script src="/static/js/script.js"></script>

</html>
